@inherits LayoutComponentBase

<PageTitle>Dimitris Kalapodas</PageTitle>

<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@

    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-logo">DIMITRIS KALAPODAS</div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/about-me">About</a>
            <a href="/3d-models">3D designs</a>
            <a href="/diy">DIY projects</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>
    
    <div class="content-wrapper">
        @Body <!-- This renders the Blazor page content -->
    </div>
</div>