@page "/contact"
@inherits LayoutComponentBase


<div class="contact-container">
    <div>

        <img src="images/mem-face-left.png" alt="Mirrored Shape Image" class="left-side-image">

        <div class="contact-form-section">
            <form class="contact-form" @onsubmit="HandleSubmit">
                <h3>Send a Message</h3>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" @bind="name" required/>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" @bind="email" required/>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" @bind="message" required></textarea>
                </div>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </div>

    <div>
        <div class="contact-details-section">
            <div class="contact-item">
                <i class="fas fa-phone"></i>
                <h5>Phone</h5>
                <p><a style="width: max-content" href="tel:+30 690 8644950">+30 690 8644950</a></p>
            </div>
            
            <div class="contact-item">
                <i class="fas fa-envelope"></i>
                <h5>Email</h5>
                <p><a href="mailto:kalapodas@hotmail.com">kalapodas@hotmail.com</a></p>
            </div>
            
            <div class="contact-item">
                <i class="fab fa-linkedin"></i>
                <h5>LinkedIn</h5>
                <p><a href="https://www.linkedin.com/in/dimitris-kalapodas-76a322187" target="_blank">Link</a></p>
            </div>
            
            <div class="contact-item">
                <i class="fab fa-telegram"></i>
                <h5>Telegram</h5>
                <p><a href="https://t.me/YinYang2247" target="_blank">Link</a></p>
            </div>
            
            <div class="contact-item">
                <i class="fas fa-globe"></i>
                <h5>Website</h5>
                <p> <a href="https://kalapodas.com" target="_blank">kalapodas.com</a></p>
            </div>
            
            <div class="contact-item">
                <i class="fas fa-map-marker-alt"></i>
                <h5>Address</h5>
                <p>34001&nbsp;Karystos,&nbsp;Greece</p>
            </div>
            
        </div>

        <img src="images/mem-face.png" alt="Shape Image" class="bottom-right-image">
    </div>


</div>


@code {
    private string name;
    private string email;
    private string message;

    private void HandleSubmit()
    {
        Console.WriteLine($"Name: {name}, Email: {email}, Message: {message}");
        name = string.Empty;
        email = string.Empty;
        message = string.Empty;
    }

}

<style>
    .contact-container {
        margin: 2em auto;
        padding-left: 10em;
        padding-right: 10em;
        color: #fff;
        width: 100vw;
        justify-content: space-between;
        display: block;
    }

    h2 {
        text-align: center;
        color: #ffcc00;
    }

    p {
        width: max-content;
    }
    
    .contact-form-section {
        flex: 1;
        max-width: 60%;
        margin-top: 4rem;
        margin-left: auto;
        background-color: #444;
        padding: 1.5em;
        border-radius: 8px;
    }

    .contact-details-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
        align-items: center;
        justify-items: center;
        min-height: 100vh;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .contact-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        border-radius: 8px;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .contact-item i {
        font-size: 2.7em;
        color: #ffcc00;
        margin-bottom: 0.5em;
    }
    
    .bottom-right-image {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 32em;
        height: auto;
    }

    
    .left-side-image {
        position: absolute;
        left: 0;
        top: 20%;
        width: 400px;
        height: auto;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 0.5em;
        font-weight: bold;
    }

    input, textarea {
        padding: 0.5em;
        border: 1px solid #555;
        border-radius: 4px;
        background-color: #444;
        color: #fff;
    }

    input:focus, textarea:focus {
        border-color: #ffcc00;
        outline: none;
    }

    button {
        padding: 0.75em;
        background-color: #ffcc00;
        color: #222;
        border: none;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #e6b800;
    }
    
    a {
        color:  #e6b800;;
    }
    
    a:hover {
        color: #d49400;
    }
</style>