@page "/3d-models"

@using ViewerV2.Services

@inject IForgeTokenService ForgeTokenService
@inject IJSRuntime JS

@if (token is null)
    {
        <Loader />
    }
else
{
    <div id="models-container">

        <h1>3D models created with CATIA V5</h1>

        <p>This component demonstrates using the Forge Viewer.</p>

            <div id="forgeViewer" style="width: 1000px; height: 500px; position: relative"></div>
    </div>
}
@* } *@

@functions {
    private string? token;
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        // isLoading = true;
        if (token == null)
        {
            token = await ForgeTokenService.GetForgeToken();
            JS.InvokeVoidAsync(
                "launchViewer",
                "dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6aXJpbmFfY2h1XzcvU3VzcGVuc2lvbi56aXA",
                token
            );
        }

        // isLoading = false;
    }

}