@page "/resume"
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;

<div class="resume-page">
    <div class="summary-section">
        <div class="summary-title" style="">
            
        <h1>A Freelance Design Engineer</h1>
        <button class="download-btn" @onclick="DownloadCv">Download CV</button>
        </div>

        @* <section class="download-cv-section"> *@

        @* </section> *@

        <h2>Summary</h2>

        <li>Passionate and experienced freelance 3D Design Engineer</li>
        <li>Have strong background in product design, CAD modeling, and engineering solutions</li>
        <li>Skilled in working with leading design software and delivering innovative design solutions</li>
    </div>


    <section class="skills-section">
        <div style="display:flex; justify-content: space-between; align-items: center;">
        
        <h2 style="margin-bottom: 0">Skills</h2>

        <ul class="skills-list">
            <li>CATIA V5</li>
            <li>SolidWorks</li>
            <li>ANSYS</li>
            <li>MATLAB</li>
            <li>C++</li>
        </ul>
        </div>
    </section>

    <h2>Work Experience</h2>
    <section class="work-experience-section">

        <div class="experience-item card">
            <h3>SITE MECHANICAL ENGINEER</h3>
            <p>TERNA SA | Vasilikos Power Station CCGT Power Plant</p>
            <p class="duration">March 2023 - July 2024</p>
            
            <li>Chief of Demineralized Water Tank Construction & Erection</li>
            <li>Monitor Electromechanical erection and commissioning of multiple systems (Gas turbines, HRSG, Fuel oil treatment)</li>
            <li>Progress meetings, discuss and suggest technical proposals</li>
            <li>Organization, submission, storing and preservation of mechanical equipment according to standards</li>
            <li>Perform Inspections and tests accordingly to ITP procedures</li>
            <li>Contribution on the "as build" documentation and design procedure</li>
            
           
        </div>

        <div class="experience-item card">
            <h3>ERASMUS+ INTERNSHIP | OFFICE ENGINEER</h3>
            <p><strong>Company:</strong> TERNA SA</p>
            <p class="duration">Nov 2019 - March 2020</p>
            <li>
                Contribution on the 3D design of the piping system
            </li>
            <li>
                Preparation of technical and material submittals
            </li>
        </div>
    </section>

    <h2>Education</h2>
    <section class="education-section">

        <div class="education-item card">
            <h3>Master of Science in Design and Manufacturing</h3>
            <p>Fields of Study: Systems, Automation, Robotics, Design Theory, 3D Design, FEM, Time series Analysis, Statistics, SHM, NDTs</p>
            <p><strong>UNIVERSITY OF PATRAS</strong> | Greece</p>
            <p class="duration">2019 – 2021</p>
        </div>

        <div class="education-item card">
            <h3>Bachelor of Science in Mechanical Engineering</h3>
            <p><strong>UNIVERSITY OF PATRAS</strong> | Greece</p>
            <p class="duration">2014 – 2019</p>
        </div>
    </section>

    
</div>

@code {

    private void DownloadCv()
    {
        var filePath = "files/D_Kalapodas_CV_2024.pdf";
        var fileUrl = NavigationManager.ToAbsoluteUri(filePath).ToString();
        NavigationManager.NavigateTo(fileUrl, true);
    }

}

<style>
    .resume-page {
        max-width: 900px;
        margin: 3em auto;
        padding: 2em;
        color: #fff;
    }
    
    .summary-section {
        margin-bottom: 2em;
    }
    
    .summary-title {
        display:flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 2rem;
    }
    
    .work-experience-section li{
        text-align: justify;
    }
    
    .card {
        padding: 2em;
        background-color: #333;
        color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
    
    section {
        margin-bottom: 2em;
    }
    
    h2 {
        color: #ffcc00;
        margin-bottom: 1em;
    }

    .experience-item, .education-item {
        margin-bottom: 1.5em;
    }
    
    h3 {
        color: #e6b800;
        margin-bottom: 0.5em;
    }
    
    .skills-list {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1.5em;
        margin-top: 1rem;
    }
    
    .skills-list li {
        background-color: #444;
        color: #ffcc00;
        padding: 0.75em 1.5em;
        border-radius: 20px;
        font-weight: bold;
        border: 2px solid #ffcc00;
    }
    
    .duration {
        color: #ccc;
    }
    
    .download-btn {
        padding: 1em 2em;
        background-color: transparent;
        color: #ffcc00;
        border: 2px solid #ffcc00;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .download-btn:hover {
        background-color: #ffcc00;
        color: #333;
    }
</style>