@page "/videos"
@inject IJSRuntime JSRuntime

<h3>Videos</h3>

<button @onclick=ButtonClicked>Perform interop</button>

@code
{
   private async Task ButtonClicked()
   {
     await JSRuntime.InvokeVoidAsync("jsMethod");
   }
}
